# Visual Studio Code files
.vscode/

# Visual Studio files
.vs/

# Python virtual environment
crazyserv-env/

# Python cache
__pycache__/

# Crazyflie cache
cache/

# Build output
bin/
obj/

# NuGet packages
packages/
